
body {
    background: url("../img/demo-1-bg.jpg");

}

.panel-body {
    padding: 0px;
}

.container{
    padding: 0px;
    padding-top: 60px;

}

span{
    margin-right: 5px;
}

.row-footer{
    background-color: dimgray;
    color: aliceblue;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding-top: 50px;
    padding-bottom: 0px;
   
}

.fin{
    background-color: ghostwhite;
    color: grey;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}

.panel-roulette{
    background: url("../img/fondoruleta.gif");
}
.canvas-roulette{
    margin-left: auto;
    margin-right: auto;
}


.modal-header, h4, .close {
    background-color: #007bb6;
    color:white !important;
    text-align: center;
    font-size: 20px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.modal-dialog{
    width: 800px;
    margin: 10px auto; 
}


/*#r1, #r2, #r3,#r4,#r5,#r6,#r7, #r8{
    display: none;
}*/

#l1, #l2, #l3,#l4,#l5,#l6,#l7, #l8{
    display: none;
}